.SearchResults {
  height: 500px;
  background-color: rgba(1, 12, 63, 0.7);
  margin-right: 200px;
  width: 600px;
  color: aliceblue;
  overflow-y: scroll;
}

.SearchResults-message {
  margin-bottom: 40px;
  margin-top: 40px;
  text-size-adjust: auto;
  font-size: large;
}
