.Track {
  margin-left: 10px;
}

.Track > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Track button {
  margin-right: 10px; /* Adjust the margin value to create the desired space */
  cursor: pointer;
  padding: 0.5rem;
  transition: color 0.25s;
}

.Track-information p {
  font-size: 0.83rem;
  font-weight: 300;
  color: rgba(256, 256, 256, 0.8);
}
