.App {
  height: 100%;
  text-align: center;
  background-color: #535bcc;
  background-image: url('./background_photo_desktop.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh; /*to the whole viewport*/
}

h1 {
  padding: 0.66rem 0;
  text-align: center;
  font-family: Poppins, sans-serif;
  font-size: 4rem;
  color: white;
  margin-top: 0px;
  margin-bottom: 0px;
}

.SongsListsContainer {
  display: flex;
  justify-content: center;
}
