.Playlist {
  background-color: rgba(1, 12, 63, 0.7);
  color: aliceblue;
  height: auto;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Playlist input {
  width: auto;
  padding: 0.66rem 1rem;
  border: none; /* Remove all borders */
  border-bottom: 1px solid #1f13c0; /* Add bottom border */
  font-size: 0.77rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 1rem; /* Add spacing at the bottom */
  margin-top: 1rem; /* Add margin to the top */
  outline: none; /* Hide outline when input is focused */
}

.Playlist-name-input-container {
  position: relative;
  flex-direction: column;
  justify-content: space-between;
}

.Playlist-submit {
  text-align: center;
}

.Playlist-submit button {
  padding: 0.72rem 1.7rem;
  background-color: #0b0ec4;
  color: #ffffff;
  font-weight: 600;
  transition: background-color 0.5s;
}

.Playlist-submit button:disabled {
  background-color: #999999;
  cursor: not-allowed;
}

.Playlist-submit button:enabled:hover {
  cursor: pointer;
}
